*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    padding: 16px 0 15px;
    position: relative;
}
.container{
    max-width: 1064px;
    margin: auto;
}
header .logo{
    position: absolute;
    left: calc(50% - 40px);
}
.d_flex{
    display: flex;
}
.items_center{
    align-items: center;
}
.space_between{
    justify-content: space-between;
}
header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li{
    margin-right: 28px;
}
header nav ul li a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
    text-decoration: none;
}
.icon{
    display: flex;
    list-style: none;
    align-items: center;
}
.icon li a{
    padding-right: 30px;
}
.first_section{
    background: #F0EFEB;
    max-width: 1440px;
    padding-top: 90px;
    padding-bottom: 24px;
}
.container_section{
    max-width: 1068px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.text_fall h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 42px;
}
.text_fall p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px;
}
.text_fall a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid;
    border-radius: 100px;
    padding: 7px 23px 9px 23px;
    text-decoration: none;
}

.photo img{
    position: relative;
    right: calc(-70px);
    top: calc(-65px);
}
.second_section{
    max-width: 1440px;
    padding-top: 60px;
}
.amazon{
    max-width: 1280px;
    margin: auto;
}
.amazon h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    padding-bottom: 27px;
}
.amazon p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    padding-bottom: 47px;
}
.amazon h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px;
}

.article_img{
    display: flex;
    justify-content: space-between;
    max-width: 1064px;
    margin: auto;
    padding-bottom: 246px;
}

.article_img h5{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 17px;
}
.article_img p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}
.article_img a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    display: block;
}
.article_img article{
    max-width: 309px;
}
.article_img .photo_all{
    display: block;
    width: 100%;
    margin-bottom: 27px;
}
.people_and{
   padding: 76px 0 51px 0;
    background: rgba(204, 204, 204, 0.3);
}
.people_and .container{
    max-width: 1164px;
    display: flex;
}
.people_photo{
    max-width: 385px;
    margin-right: 50px;
}
.people_photo image{
    width: 100%;
}
.text{
    max-width: 532px;
    padding-top: 70px;
}
.text h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 31px;
}
.text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 40px;
}
.text a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}
.culture{
    padding: 76px 0 51px 0;
    background: rgba(204, 204, 204, 0.6);
}
.culture .container{
    max-width: 1164px;
    display: flex;
}
.culture_text{
    max-width: 513px;
    padding-top: 92px;
    text-align: right;
}
.culture_text h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #000000;
    margin-bottom: 31px;
}
.culture_text p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #000000;
    margin-bottom: 31px;
}
.culture_text a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    color: #000000
}
.people_photo2{
    max-width: 385px;
    margin-left: 50px;
}







