*{
    padding: 0;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}
header{
    padding: 16px 0 15px;
    position: relative;
}
.container{
    max-width: 1064px;
    margin: auto;
}
header .logo{
    position: absolute;
    left: calc(50% - 40px);
}
.d_flex{
    display: flex;
}
.items_center{
    align-items: center;
}
.space_between{
    justify-content: space-between;
}
header nav ul{
    display: flex;
    list-style: none;
}
header nav ul li{
    margin-right: 28px;
}
header nav ul li a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 26px;
    color: #1C1B1B;
    text-decoration: none;
}
.icon{
    display: flex;
    list-style: none;
    align-items: center;
}
.icon li a{
    padding-right: 30px;
}
.first_section{
    background: #F0EFEB;
    max-width: 1440px;
    padding-top: 90px;
    padding-bottom: 24px;
}
.container_section{
    max-width: 1068px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.text_fall h1{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 70px;
    color: #000000;
    margin-bottom: 42px;
}
.text_fall p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 26px;
}
.text_fall a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    color: #FFFFFF;
    background: #000000;
    border: 1px solid;
    border-radius: 100px;
    padding: 7px 23px 9px 23px;
    text-decoration: none;
}

.photo img{
    position: relative;
    right: calc(-70px);
    top: calc(-65px);
}
.second_section{
    max-width: 1440px;
    padding-top: 60px;
}
.amazon{
    max-width: 1280px;
    margin: auto;
}
.amazon h2{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    padding-bottom: 27px;
}
.amazon p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    padding-bottom: 47px;
}
.amazon h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 27px;
}

.article_img{
    display: flex;
    justify-content: space-between;
    max-width: 1064px;
    margin: auto;
    padding-bottom: 246px;
}

.article_img h5{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 17px;
}
.article_img p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 10px;
}
.article_img a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    text-decoration-line: underline;
    color: #000000;
    display: block;
}
.article_img article{
    max-width: 309px;
}
.article_img .photo_all{
    display: block;
    width: 100%;
    margin-bottom: 27px;
}
.people_and{
   padding: 76px 0 51px 0;
    background: rgba(204, 204, 204, 0.3);
}
.people_and .container{
    max-width: 1164px;
    display: flex;
}
.people_photo{
    max-width: 385px;
    margin-right: 50px;
}
.people_photo image{
    width: 100%;
}
.text{
    max-width: 532px;
    padding-top: 70px;
}
.text h4{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 31px;
}
.text p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-bottom: 40px;
}
.text a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-decoration-line: underline;
    color: #000000;
}
.culture{
    padding: 76px 0 51px 0;
    background: rgba(204, 204, 204, 0.6);
}
.culture .container{
    max-width: 1164px;
    display: flex;
}
.culture_text{
    max-width: 513px;
    padding-top: 92px;
    text-align: right;
}
.culture_text h4{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #000000;
    margin-bottom: 31px;
}
.culture_text p{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: right;
    color: #000000;
    margin-bottom: 31px;
}
.culture_text a{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: right;
    text-decoration-line: underline;
    color: #000000
}
.people_photo2{
    max-width: 385px;
    margin-left: 50px;
}
.features{
    padding-top: 190px;
    padding-bottom: 290px;
}
.features h3{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 69px;
}
.features .items_description{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 52px;
}
.features .items_description .item{
    width: 33%;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 30px;
    line-height: 35px;
    color: #000000;
    margin-bottom: 111px;
}
.features .items_description .item:before{
    content: "";
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin: auto;
    margin-bottom: 26px;
    background-color: #21F7EC;
}
.features .items_description .item:nth-child(2):before{
    background-color: #33D3BC;
}
.features .items_description .item:nth-child(3):before{
    background-color: #18A5C6;
}
.features .items_description .item:nth-child(4):before{
    background-color: #D38F62;
}
.features .items_description .item:nth-child(5):before{
    background-color: #F94C43;
}
.features .items_description .item:nth-child(6):before{
    background-color: #D399FF;
}
.features h4{
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000
}
.form_imp{
    padding-top: 79px;
    padding-bottom: 88px;
}
.form_imp .container{
    max-width: 570px;
    text-align: center;
}
.paskudych{
    display: flex;
    justify-content: space-between;
    margin-bottom: 18px;
}
.paskudych input {
    max-width: 153px;
    padding: 12px 0px 11px 8px;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #A0A0A0;
    border: 1px solid #000000;
    border-radius: 0px;
    margin-right: 60px;
}
.place_text{
    max-width: 366px;
    margin: auto;
    box-sizing: border-box;
}

.paskudych_two input{
    max-width: 366px;
    width: 100%;
    padding: 13px 0px 10px 8px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #A0A0A0;
    border: 1px solid #000000;

}
.f_name_s{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #A0A0A0;

}
.form_imp .container h4{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    color: #000000;
    margin-bottom: 9px;
}
.form_imp .container p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    text-align: center;
    color: #000000;
    margin-bottom: 26px;
}
footer{
    padding: 51px 148px 16px 148px;
    background-color: black;
}
.foot_logo{
    max-width: 487px;
}
.foot_logo img{
    margin-bottom: 37px;
}
.foot_logo ul {
    display: flex;
    list-style: none;
}
.foot_logo ul a{
    margin-right: 10px;
    margin-left: 10px;
}
.top_div{
    padding: 56px 20px 25px;
    max-width: 1144px;
    display: flex;
    justify-content: space-between;
}
.text_foot{
    display: flex;
    justify-content: space-between;
}
.text_foot ul:first-of-type{
    margin-right: 72px;
}
.text_foot a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #FFFFFF;
    text-decoration: none;
}
.text_foot ul li {
    margin-bottom: 12px;
}
.text_foot li:first-of-type{
    margin-bottom: 36px;
}
footer p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 23px;
    text-align: center;
    color: #FFFFFF;
}








